@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}
